@model SchoolInfoMVC.Models.IndexVMs.TeacherIndexVM

@{
    ViewData["Title"] = "Teachers";
}

<h1>Teachers</h1>

@{
    await Html.RenderPartialAsync("/Views/Partial/HumanNameFilterPartial.cshtml", Model);
}

<hr />

@{
    ViewData["FirstName"] = Context.Request.Query["firstName"];
    ViewData["LastName"] = Context.Request.Query["lastName"];
    await Html.RenderPartialAsync("/Views/Partial/PagerPartial.cshtml", Model.Pager, this.ViewData);
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameForInnerType((TeacherVM t) => t.FirstName)
            </th>
            <th>
                @Html.DisplayNameForInnerType((TeacherVM t) => t.LastName)
            </th>
            <th>
                @Html.DisplayNameForInnerType((TeacherVM t) => t.BirthDate)
            </th>
            <th>
                @Html.DisplayNameForInnerType((TeacherVM t) => t.Phone)
            </th>
            <th>
                @Html.DisplayNameForInnerType((TeacherVM t) => t.YearsExperience)
            </th>
            <th>
                @Html.DisplayNameForInnerType((TeacherVM t) => t.IsOnLeave)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Teachers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsExperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOnLeave)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
